<section id="tmaps" class="tmaps section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header my-4">
      <h2>Custom Menu</h2>
      <p>Traveler <span>Options</span></p>
    </div>


    <div class="row">
      <div class="col-lg-4 col-md-6">
        <a routerLink="/menu" style="text-decoration: none">
          <div class="card mx-auto" style="width: 18rem; height: 32rem">
            <img src="assets/img/tmaps/tmaps-11.jpg" class="img-fluid" alt="">
            <div class="card-body">
              <div class="member-info">
                <h4 class="py-3 text-center text-dark">My World Travel Map</h4>
                <div class="text-center h6 text-secondary my-3"><span>Travel Map</span></div>
                <p class="text-center">Select your countries by categories <br> that you defined... </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-md-6">
        <a routerLink="/menu" style="text-decoration: none">
          <div class="card mx-auto" style="width: 18rem; height: 32rem">
            <img src="assets/img/tmaps/tmaps-22.jpg" class="img-fluid" alt="">
            <div class="card-body">
              <div class="member-info">
                <h4 class="py-3 text-center text-dark">My Wish List</h4>
                <div class="text-center h6 text-secondary my-3"><span>Guide</span></div>

                <p class="text-center">Create whishlist to manage goals...</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-md-6">
        <a routerLink="/menu" style="text-decoration: none">
          <div class="card mx-auto" style="width: 18rem; height: 32rem">
            <img src="assets/img/tmaps/tmaps-33.jpg" class="img-fluid" alt="">
            <div class="card-body">
              <div class="member-info">
                <h4 class="py-3 text-center text-dark">My Blog Posts</h4>
                <div class="text-center h6 text-secondary my-3"><span>Blog</span></div>

                <p class="text-center">You can post here anything you want to record <br> your experiences or memorials.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</section>